<div class="container">
    <div class="grid">
        <div class="cell -12of12">
            <div class="card">
                <header class="card-header">
                    <a href="/">~</a>/<a href="/about">about</a>/
                </header>
                <div class="card-content">
                    <div class="inner">
                        <div>
                            <div class="logo"></div>

                            <h3>your own web file keeper</h3>
                            <p>
                                <code>filekeep</code> is made with &lt;3 using:
                            </p>

                            <ul>
                                <li><a href="https://hackcss.egoist.moe">hack.css</a></li>
                                <li><a href="https://github.com/julienschmidt/httprouter">httprouter</a></li>
                                <li><a href="https://github.com/Sirupsen/logrus">logrus</a></li>
                            </ul>
                        </div>

                        <div>
                            <h3>links:</h3>
                            <ul>
                                <li>
                                    github page: <a href="https://github.com/vlad-s/filekeep">vlad-s/filekeep</a>
                                </li>
                                <li>
                                    twitter page: <a href="https://twitter.com/0x766c6164">@0x766c6164</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
