{{template "header"}}

<div class="container">
    <div class="grid">
        <div class="cell -12of12">
            <div class="card top">
                <header class="card-header">about</header>
                <div class="card-content">
                    <div class="inner">
                        <div>
                            <p>
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFcAAABDCAQAAABDhlFqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJb0ZGcwAAAAkAAAAJACznXE8AAAAJdnBBZwAAAIsAAABUAL9ywUIAAACaSURBVGje7dnBCYQwEEDRQSxjy7KtLUSwEPvYQvS8wgTdFYbI+zlGwzvkEJKI7ebxXf7dFFlT/tcQXYWLi4uLi4tb1NiYe8dazbvCXWOp5h3rbDPg4uLi4uI+hzv+v8TtfWLOJ6sunfLROFh1thlwcXFxcXFxi6q7dMpXf7UOOb881J3PM2BH4eLi4uLi4uLiVoeLi4uLi9toBxkStPX+lFd4AAAAAElFTkSuQmCC"/>
                            </p>

                            <h3>your own web file keeper</h3>
                            <p>
                                <code>filekeep</code> is made with &lt;3 using:
                            </p>

                            <ul>
                                <li><a href="https://hackcss.egoist.moe">hack.css</a></li>
                                <li><a href="https://github.com/julienschmidt/httprouter">httprouter</a></li>
                                <li><a href="https://github.com/Sirupsen/logrus">logrus</a></li>
                            </ul>
                        </div>

                        <div>
                            <h3>links:</h3>
                            <ul>
                                <li>
                                    github page: <a href="https://github.com/vlad-s/filekeep">vlad-s/filekeep</a>
                                </li>
                                <li>
                                    twitter page: <a href="https://twitter.com/0x766c6164">@0x766c6164</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "footer"}}